<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <!-- 
  	将 URL 映射设为 /*,这样整个应用都要求是 HTTPS 访问，
  	而 transport-guarantee 标签设置为 CONFIDENTIAL 以便使应用支持 SSL。
	如果希望关闭 SSL,只需要将 CONFIDENTIAL 改为 NONE 即可
	设置为CONFIDENTIAL时,访问http将自动跳转到https
   
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>securedapp</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>-->
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.rue.stat.web.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CDOServlet</servlet-name>
    <servlet-class>com.rue.stat.web.BusinessServlet</servlet-class>
    <init-param>
      <param-name>TransFilter.xml</param-name>
      <param-value>TransFilter.xml</param-value>
    </init-param>
    <init-param>
      <param-name>TransFilter.xml.Encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>WebServiceBus.xml</param-name>
      <param-value>WebServiceBus.xml</param-value>
    </init-param>
    <init-param>
      <param-name>WebServiceBus.xml.Encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CDOServlet</servlet-name>
    <url-pattern>*.cdo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.rue.stat.web.ApplicationListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>RestServlet</servlet-name>
    <servlet-class>com.rue.stat.web.RestServlet</servlet-class>
    <init-param>
      <param-name>WebServiceBus.xml</param-name>
      <param-value>WebServiceBus.xml</param-value>
    </init-param>
    <init-param>
      <param-name>WebServiceBus.xml.Encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>TransFilter.xml</param-name>
      <param-value>TransFilter.xml</param-value>
    </init-param>
    <init-param>
      <param-name>TransFilter.xml.Encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>
			org.apache.velocity.tools.view.servlet.VelocityViewServlet
		</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name>
      <param-value>toolbox.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>velocity.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
</web-app>